*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    scroll-padding-top: 5rem;
}



#service{
    
    background-image: url(images/cta-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.call{
    opacity: 0.9;
}


@media screen and (min-width:320px) and (max-width:480px)
 {
    .action-button{
    
        padding-top: 10px;
        padding-bottom: 10px;
        
    }

    .nav-item{
        text-align: center;
    }

    
}